*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea
/.idea/.name
/.idea/misc.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/.class
app/build/*
app/build/generated/source/r/debug/android/support/*
.idea/misc.xml
app/build/intermediates/transforms/instantRunSlicer/debug/9/buildId.txt